# How to create a class

In [17]:
class calculator:
    def __init__(self,val1,val2):
        self.val1 = val1
        self.val2 = val2
    def add(self):
        return self.val1+self.val2
    def sub(self):
        return self.val1-self.val2
    def mul(self):
        return self.val1*self.val2
    def div(self):
        return self.val1/self.val2

# The constructor
## constructor is a method with same name as a class

In [18]:
cal = calculator(5,6)

In [19]:
print(cal.mul())

30

# To Modify the constructor of any class you need to create a __ _init_ __ method

# Scope of Variables.
1. Global
2. Functional
3. Class
4. Static

# Inheritance:
## Parent and child relationship

In [20]:
class human:
    legs = 2
    hands = 2
    arms = 2
    eyes = 2
    ears = 2

    def speak(self):
        print("Speaking ....")
    def walk(self):
        print("Walking !!!!")

class male(human):
    pass

In [22]:
hafi = male()

print(hafi.legs)

hafi.speak()

2
Speaking ....

# Polymorphism
1. Compile Time (Overloading)
2. Run Time (Overriding)

In [25]:
class calculator:
    def __init__(self):
        pass
    def add(self,a,b):
        return a+b
    def add(self,a,b,c):
        return a+b+c

In [26]:
class animal:
    legs = 0
    hands = 0
    arms = 0
    eyes = 0
    ears = 0
    def voice(self):
        print("Some voice...")

        
class cat(animal):
    def voice(self):
        print("Meow.Meow....")

class dog(animal):
    def voice(self):
        print("Barking.... Bhaow Bhaow ...")

In [28]:
cat1 = cat()
dog1 = dog()
ani1 = animal()

In [32]:
ani1.voice()
cat1.voice()
dog1.voice()

Some voice...
Meow.Meow....
Barking.... Bhaow Bhaow ...

In [3]:
class human:
    legs = 2
    hands = 2
    arms = 2
    eyes = 2
    ears = 2

    def speak(self):
        print("Speaking ....")
    def walk(self):
        print("Walking !!!!")

In [10]:
class student(human):
    def __init__(self,id, name, age,marks = []):
        self.id = id
        self.name = name
        self.age = age
        self.marks = marks
    def reading(self):
        print(f'{self.name} is reading ....')
    def writing(self):
        print(f'{self.name} is writing ....')
    def getid(self):
        return self.id
    def getname(self):
        return self.name
    def getage(self):
        return self.age
    def getmarks(self):
        return self.marks
    def setname(self,new_name):
        self.name = new_name
    def setage(self,new_age):
        self.age = new_age
    def setmarks(self,new_marks):
        self.marks = new_marks

In [11]:
hafiullah = student('std_01','Hafiullah',20)

In [12]:
mustafa = student('std_02','Mustafa',18)

In [13]:
nofil = student('std_03','Nofil',18)

In [16]:
mustafa.reading()
hafiullah.writing()
print(nofil.getage())

Mustafa is reading ....
Hafiullah is writing ....
18

In [17]:
mustafa.setname('mustafa1')

In [18]:
mustafa.getname()

'mustafa1'

In [22]:
type(hafiullah)

__main__.student

In [60]:
class book:
    def __init__(self,title,auther,publisher,isbn,no_chapt,no_pages):
        self.title = title
        self.auther = auther
        self.publisher = publisher
        self.isbn = isbn
        self.no_chapt = no_chapt
        self.no_pages = no_pages
    def __repr__(self):
        return self.__str__()
        
    def __str__(self):
        details = f"Title: {self.title}\nAuther: {self.auther}\nISBN: {self.isbn}"
        return details
    def __add__(self,other):
        return f"Book1 : {self.title}, Book2: {other.title}"
    def __eq__(self,other):
        if self.title == other.title and self.auther == other.auther and \
        self.publisher == other.publisher and self.isbn == other.isbn and self.no_chapt == other.no_chapt and self.no_pages == other.no_pages:
            return True
        else:
            return False
        

        
    def gettitle(self):
        return self.title
    def settitle(self,new_title):
        self.title = new_title
    def getauther(self):
        return self.auther
    def setauther(self,new_auther):
        self.auther = new_auther

In [61]:
new_book = book('ABC',"Abdul Rehman",'SMIT',415276556432765765,6,200)
book2 = book('XYZ',"Abdul Rehman",'SMIT',6653478287523778348,6,200)
book3 = book('ABC',"Abdul Rehman",'SMIT',7652373456378562378,6,200)

In [62]:
print(new_book+book2)

Book1 : ABC, Book2: XYZ

In [63]:
print(new_book == book3)

False

In [65]:
abc = 6

In [66]:
abc

6

# A Car showroom stores a car details. when the manager prints any car object it should show brand of the car, model, year and color

In [80]:
class student(human):
    def __init__(self,id, name, age,marks = []):
        self.id = id
        self.name = name
        self.age = age
        self.marks = marks


class university:
    def __init__(self, Name, Location, Student = []):
        self.Name = Name
        self.Location = Location
        self.Students = Student
    def add_std(self,std):
        self.Students.append(std)
    def __len__(self):
        return len(self.Students)

In [81]:
SMIT = university("SMIT University","Hyderabad")

In [82]:
SMIT.add_std(student('std_01','Hafiullah',20))
SMIT.add_std(student('std_02','Ahmed',21))
SMIT.add_std(student('std_03','Ali',22))

In [83]:
print(len(SMIT))

3

# ATM SYSTEM for add amount in my account I need to use object + (amount) and the amount should be added to the balance property

In [92]:
class account:
    def __init__(self,account_holder, account_no, amount = 0):
        self.account_holder = account_holder
        self.amount = amount
        self.account_no = account_no
    def __add__(self,other):
        self.amount += other
    def __sub__(self,other):
        self.amount -= other

In [93]:
myaccount = account('Yasir','423757762352',amount=500000000)

In [94]:
myaccount + 500000000

In [95]:
myaccount.amount

1000000000

In [96]:
myaccount - 50000000

In [97]:
myaccount.amount

950000000

In [98]:
amount

NameError: name 'amount' is not defined