In [1]:
import pandas as pd

In [33]:
data = [["yasir",20,'A'],
        ["yasir1",21,'A'],
        ["yasir2",24,'A'],
       ["yasir1",25,'A'],
       ["yasir1",22,'A']]

In [34]:
print(data)

[['yasir', 20, 'A'], ['yasir1', 21, 'A'], ['yasir2', 24, 'A'], ['yasir1', 25, 'A'], ['yasir1', 22, 'A']]

In [35]:
df = pd.DataFrame(data,columns=["name",'age','grade'],index = ['std1','std2','std3','std4','std5'])

In [36]:
df

        name  age grade
std1   yasir   20     A
std2  yasir1   21     A
std3  yasir2   24     A
std4  yasir1   25     A
std5  yasir1   22     A

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, std1 to std5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   grade   5 non-null      object
dtypes: int64(1), object(2)
memory usage: 160.0+ bytes

In [40]:
df['year_birth'] = 2025 - df['age']

In [44]:
df['age']['std3'] = 26

C:\Users\memon\AppData\Local\Temp\ipykernel_6052\2125857607.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['age']['std3'] = 26
C:\Users\memon\AppData\Local\Temp\ipykernel_6052\2125857607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age']['std3'] = 26

In [45]:
df

        name  age grade  year_birth
std1   yasir   20     A        2005
std2  yasir1   21     A        2004
std3  yasir2   26     A        2001
std4  yasir1   25     A        2000
std5  yasir1   22     A        2003

In [46]:
import numpy as np

In [49]:
a=np.random.randn(3,3)
b=np.random.randn(2,1)
c = a+b

ValueError: operands could not be broadcast together with shapes (3,3) (2,1)

In [48]:
y.shape

(1, 2)